body {
    background: black;
    /* display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr; */
    /* grid-gap: 5px; */
}

                                                                                /* front full page */
#landing-container {
    /* background-color: blanchedalmond; */
    /* background: url(../images/grey-pb-photo.jpg); */
    background-image: linear-gradient(rgb(0, 128, 0), rgb(0, 86, 0));
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    height: 100vh;

}




                                                                        /* Landing page title */
h1 {
    font-size: 120px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    /* background: -webkit-linear-gradient(rgb(99, 14, 130), rgb(32, 174, 49)); */
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.title-page-pic {
    padding-bottom: 10px;
}

#rotate90 {
    transform: rotate(90deg)
}

                                                                    /* holder for both timelines */
.timeline-container {
    background-color: black;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    /* grid-gap: 3px; */
    height: 100vh;
}


                                                                                /* Stuff before project 1 */
.early-years-container {
    /* background-color: aquamarine; */
    background-image: linear-gradient(rgb(0, 86, 0), green);
    text-align: center;
}


                                                                        /* timeline w/ project 1 */
.rest-of-timeline {
    text-align: center;
    background: url(../images/willsmith.png);
    background-position: right top;
    /* background-color: brown; */
    background-image: linear-gradient(green, rgb(0, 86, 0));

    background-repeat: no-repeat;

}

                                                            /* holds all projects in both containers */
.projects-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    height: 100vh;
}



header {
    width: 100%;
    text-align: center;
    color: white;
    stroke-width: 3px;
    background-position-y: center;
}

#early-years-title {
    font-size: 40px;
}

#moving-forward-text {
    font-size: 40px;
}

#first-hw-picture {}

#biography-button {}

#first-project {}

.contact-container {
    /* background-color: blue; */
    background-image: linear-gradient(rgb(0, 86, 0), green);
    
}




/* three buttons at the top of the page

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}


#myNavbar {
    display: inline-block;
    list-style-type: none;
} */

/* .top {
    position: sticky;
    /* width: 100%; */
    z-index: 1;
    top: 0;
} */


/* 
.bottom{
/* display: table-cell;
vertical-align: bottom; */
} */

/* ScrollBar */

/* ::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-image: linear-gradient(green, rgb(0, 86, 0))
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555
} */